<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			#MessiWantsOut
		</a>
		<a class="panel-block">
			#Covid-19
		</a>
		<a class="panel-block">
			#HurricaneLaura
		</a>
		<a class="panel-block">
			#TrumpSpeech
		</a>
		<a class="panel-block">
			#RepublicanConventions
		</a>
		<a class="panel-block">
			#Democrats
		</a>
	</nav>
</div>
